# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
compmed_env/
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Raw data
data/raw
